[2015-09-13 18:54] pquackenbush opened #1 "XML Schema"
We need to develop a schema so that all parties involved know how the XML will be structured, what's a valid element, and so forth.

**Sample Idea**

[code]

[2015-09-13 22:56] AKA-Syenite commented on #1
There's two approaches we can take with this, either we (the networking classes in aggregate) take raw xml and parse it (harder, less modular), or take normal parameters and do all the xml ourselves (modular, fewer points of failure). I feel the latter option is the better choice.

[2015-09-14 20:23] nathanjent commented on #1
I was assuming that the xml would be created from class structures. The server and clients would need to have matching data sets that can be dynamically written to and read from XML and passed between.

[2015-09-14 20:25] AKA-Syenite commented on #1
I mean, you can certainly take that approach, but it significantly increases coupling between modules.

[2015-09-14 20:37] nathanjent commented on #1
You're right. Modular would be best.

[2015-09-14 20:43] nathanjent opened #2 "System Architecture"
I've created a system architecture diagram. I made it using an open source software called [Dia](https://wiki.gnome.org/Apps/Dia). Please discuss the architecture here and feel free to post revised images.

![System Architecture Diagram](http://i.imgur.com/rfbKUz1.png)

[2015-09-14 20:45] nathanjent opened #3 "Use Cases"
I've created a high level use case diagram. I made it using an open source software called [Dia](https://wiki.gnome.org/Apps/Dia). Please discuss the use cases here and feel free to post revised images.

![Use Case Diagram](http://i.imgur.com/ZFNv3HA.png)

[2015-09-14 23:29] pquackenbush commented on #1
A third option would be to utilize a common parser (SAXON?) and builder that is shared among all modules.  You could then use a sub-class of the main parser to strip out only the pertinent elements that you need at the time, and the builder would only construct based on what was sent to it.

I feel that these modules will be coupled no matter how we try to approach this, as the clients will be req

[2015-09-14 23:36] AKA-Syenite commented on #1
That's also a possible way to do it, but I think it would be an overcomplicated wrapper when looking at the amount and type of data that actually needs to be passed between modules. (excluding encoding/decoding xml strings for network communications since we're required to use xml)

[2015-09-14 23:38] pquackenbush commented on #2
Just a thought, but if we agree on a single schema, then we could potentially pull the XML processing into a shared module that the Contractor, Homeowner and Server could all utilize.  Instead of each group writing their own parsers, we could extend the functionality of the shared resource.

[2015-09-14 23:45] LABurn commented on #2
This evening @opcecco and I are going to go ahead and design an architecture that would be both more secure and more modular. With this in mind, we were thinking something closer to an extended UDP. I'll have an update for this in about an hour after deliberation.

[2015-09-15 00:02] pquackenbush commented on #2
One issue that I could foresee with UDP is that there's no confirmation that the data was received, leaving the client in a limbo state to determine whether their transmission was received by the server.  Personally, I think receiving a response code from the server would make things slightly easier.  If you get a 200 response code, message received, continue on; otherwise, try again(or do somethi

[2015-09-15 00:22] rsanchez-wsu commented on #2
Please note that we will not be covering UDP in class. I am OK with having the option to have the clients communicate over both TCP and UDP (perhaps as a user-configurable option).  However, if only one will be implemented it needs to be TCP, as that is what will be covering in class.

[2015-09-15 00:23] opcecco commented on #2
Does anyone here have any prior experience with RESTful clients? If we go that way, this could be a good way to learn, but going UDP or TCP could make for a less research-intensive project.

[2015-09-15 00:41] LABurn commented on #2
Additionally, we risk involving ourselves in dependency hell if we continue to introduce more and more tools like this. Really what's being asked isn't enough to warrent a full blown API building framework in my opinion, when you can do a lot of data transfer and communication through an old fashioned networking schema.

[2015-09-15 00:41] LABurn commented on #2
FYI, I have experience with both TCP and UDP.

[2015-09-15 00:45] AKA-Syenite commented on #2
I have experience with both options, honestly it's up to whichever people are more comfortable with.

[2015-09-15 01:07] nathanjent commented on #1
Yes, it should be part of the common core module.

[2015-09-15 01:11] DevinJamesK commented on #1
I also agree.  No need to make it more complex then it has to be.

[2015-09-15 01:40] pquackenbush commented on #2
LABurn brings up a valid point. I think we may be able to do everything we need with simple Socket connections, and that's a standard Java API. It may require some translating to get the format of the InputStream/OutputStream correct, but it shouldn't be too difficult.

We may be over thinking this.

[2015-09-15 04:40] rsanchez-wsu commented on #3
@nathanjent, thanks for moving these diagrams into issues.  There is certainly an argument to support having them in the repository, but in the case of our group it makes more sense to have them attached to issues.  It facilitates better discussion and collaboration.

That said, I like how you are focusing on the system components in #2 and the actor interactions here.  Too often people dive right

[2015-09-15 21:14] jgotty777 commented on #1
Late to the party, however I agree that modular is better.

[2015-09-17 22:23] QLaVell opened #4 "Database Update Handling"
We need to decide how the view will update when the database is updated while a user is viewing it.

Current ideas are to:
1. Notify user that database has changed and request a refresh
2. Automatically refresh view
3. Periodically refresh view
4. Do nothing assess conflicts afterwards

Does anybody else have any ideas?

[2015-09-18 03:14] nathanjent commented on #4
What data is being updated? If it is search results just update when they hit a search button. Messages update when received from other users. Winning bids or completed work should update when other users submit them like messages. The only need I could see using constant updates is logging in the server gui.

[2015-09-18 03:38] pquackenbush commented on #4
I agree, the only thing I could see that would really be nice to know is if a contractor was looking at a list of all of their open bids and ended up winning one. But they should be getting a notification of some kind pushed to them when they win a bid making this redundant. Perhaps there's a use case outside of the Server UI I'm just not seeing(metadata processing).

[2015-09-18 12:11] rsanchez-wsu commented on #4
There are several possibilities here.

First, the core/database layer could keep track of what views have been requested and what clients are connected (remember we are using TCP) then actively notify the clients that their views are stale.  Alternatively, the core/database layer could keep track but not notify the clients, only raising some sort of "exception"-like response if an update is attemp

[2015-09-18 16:58] katrinaScott commented on #4
I personally like the idea of pushed notifications more, but I recognize that the reactionary, "exception"-type response is probably easier to implement and more functional in nature (sort of a "why should I care it's changed unless it poses a problem for me?" mindset). I know within the homeowner UI we were comparing the idea of having a "newsfeed"-like activity record vs a more active, push noti

[2015-09-18 19:39] cbensman commented on #4
I'm not 100% positive on the implementation of this, but an idea that I had would be a trigger system on the backside, that when triggered after an update to the database would send a "message" to the clients letting them know that something in a specific table in the database had been changed. This would leave it up to the groups building the front end GUIs to decide based on what has been change

[2015-09-18 21:20] AKA-Syenite opened #5 "Proposed Networking Model"
I committed a possible type of implementation we could pursue to the networking branch. (78af71719d7508189f728d9ed56d48f4e0af2b82)

In this model (as it stands) the client initiates all communications and the server listens via `@NetworkHandler` annotations.

@nathanjent, @DevinJamesK, @Opcecco, @LABurn, @parishalexander, @Shukaro

[2015-09-18 21:42] AKA-Syenite opened #6 "PLEASE DEVELOP ON BRANCHES INSTEAD OF MASTER"
As the title says, please do dev-work on branches seperate from `master`, and then only merge them when they're stable(ish) to keep the main branch relatively functional and clean. See [Branch Development](https://github.com/rsanchez-wsu/fa15-ceg3120/wiki/Branch-Development) for more specific details.

[2015-09-18 21:52] AKA-Syenite commented on #1
This also ties into #5

[2015-09-18 22:11] AKA-Syenite commented on #5
When the server receives a message it should almost certainly break out to posting it onto the bus then collect any responses from the `@NetworkHandler`'s and send those back, on the same socket to be posted clientside, rather than the current after-the-fact posting behavior. Would let clients use `@NetworkHandler`'s to process response messages.

Would probably also want to constrain `@NetworkHan

[2015-09-19 21:17] nathanjent opened #7 "Email Notification Feature"
The server will need a way to alert users of status changes like when winning a bid, or when receiving a message from another user. I will implement the mail server connection and interface to use with the other systems.

[2015-09-20 00:10] jakern commented on #4
_**First, the core/database layer could keep track of what views have been requested and what clients are connected (remember we are using TCP) then actively notify the clients that their views are stale. *_*

I think this is one of the best solutions. The server can notify the client that something the client is looking at has changed and then we leave it up to the clients to decide when to updat

[2015-09-20 03:22] nathanjent commented on #4
If a contractor is looking at a list of jobs we can fetch the status of the job if he tries to select one then alert him that the job is no longer available. The list would then refresh on load. At most I would only allow it to refresh at 1 second or greater intervals, and even then only at the server's leisure.

[2015-09-20 03:27] nathanjent opened #8 "Feature Logging"
We need a common interface to log debug and error messages. These would need to be written to the database since I believe the server GUI team wants to display log messages in a table.
I suggest using something like [log4j](http://logging.apache.org/log4j/2.x/).

[2015-09-21 02:09] rsanchez-wsu commented on #8
@nathanjent I think that [slf4j](http://www.slf4j.org) is a better choice.  It uses the façade pattern and allows you to have any of a number of different logging frameworks perform the actual logging.  We can use slf4j as the interface and then lgo4j as the actual implementation.  Feel free to go ahead and add them to the Ivy dependencies for the project.  @Shukaro can help with that if needed.

[2015-09-23 03:47] pquackenbush opened #9 "Polymorphic Design for User Accounts"
I've gone ahead and added a UserAccount class with three subclasses in the core module.  This will allow us to easily launch the specific UI depending on the UserAccount subclass returned after logging in.

Added this to the tracker to test whether I could still tie a commit to a certain issue. _fingers crossed_

[2015-09-23 03:54] pquackenbush commented on #9
Note:

This is still on the HomeownerUIBase branch

[2015-09-23 04:08] pquackenbush opened #10 "Unified Entry Point for Most Users"
Since this impacts just about every team, I thought that I'd create an issue for it.  I've created a bare bones main class in the core module to launch the login prompt. My thoughts are that the the user supplies UUID and pswd, clicks submit, a UserAccount obj is created, passed to Networking, and then waits for a more specific UserAccount obj to return from Networking (DB call to verify credentia

[2015-09-23 22:46] pquackenbush commented on #9
I had a thought that perhaps we should have another package like ...common.data for the common ADTs that will be utilized like the User Account types, perhaps a JobRequest class, AvailableJobRequest class, and so forth.

This would help keep the core module more organized.

[2015-09-24 14:51] pquackenbush opened #11 "Problem with windowClosing from WindowAdapter"
Does anyone have a clue why this would give the error:
`The method windowClosing(WindowEvent) of type new WindowAdapter(){} must override or implement a supertype method?`

I checked the compiler compliance for the project and that doesn't seem to be the issue, and on top of that, WindowAdapter has been around since 1.1.  The method header was copied straight from the WindowAdapter source.  So it'

[2015-09-24 16:45] pquackenbush commented on #11
Resolved... eclipse in it's infinite wisdom imported `com.sun.glass.events.WindowEvent` instead of `java.awt.event.WindowEvent`

Fixed the import, fixed the issue.

[2015-09-24 16:45] #11 closed, assigned to nobody

[2015-09-24 17:20] pquackenbush commented on #6
Just a note:

If you want to merge into a specific branch, you need to have the branch that you are merging into checked-out. So if I wanted to merge the networking branch into HomeownerUIBase, I would first need to checkout HomeownerUIBase:
`git checkout HomeownerUIBase` (This step is unneeded if you are merging into a branch that you already have checked out for development)

Then perform the me

[2015-09-24 20:26] SeanPWebb commented on #10
We were under a similar impression from the contractor GUI side.

[2015-09-24 20:39] pquackenbush opened #12 "PSWD Encryption for Use in Source"
We should probably come up with a method for encrypting our passwords.  And yes, I realize the flaw in discussing this in a publicly hosted site.

[Nice explanation of pswd handling](http://stackoverflow.com/questions/12937641/handling-passwords-used-for-auth-in-source-code)

[2015-09-25 00:15] rsanchez-wsu commented on #9
@pquackenbush, good call on both the polymorphic user account types and the core data objects.

[2015-09-25 00:18] rsanchez-wsu commented on #11
@pquackenbush, when you let Eclipse's auto-complete help you out sometimes it grabs the wrong one.  I have had this happen where I need to import List and Eclipse suggests java.awt.List and java.util.List and I will accidentally click on java.awt.List and be left wondering why things aren't working how I expect.

[2015-09-25 00:19] rsanchez-wsu commented on #6
Don't forget that if you have tags you can specify --tags to git and will push them.  Also, if you want to push all branches and not have to specify which ones to push, 'git push --mirror' will do the trick.

[2015-09-25 00:22] rsanchez-wsu commented on #12
@pquackenbush, though it may seem counter-intuitive, we should discuss our password handling in a public forum.  If the algorithm itself is properly secure, we should be able to disclose it in a public forum and have every confidence that it won't help an attacker.  If our password security were to rely on developing some secret method of securing the password such that public exposure of the secr

[2015-09-25 02:48] pquackenbush opened #13 "Possible Lazy-Man's Approach to Formatting"
I found within checkStyle that there is an option to use an experimental feature that will keep the checkStyle.xml synced with the eclipse formatter.  I tested this against the NetworkManager class, and the only changes that would need to be made manually are the insertion of JavaDoc, adding curlies to the ifs, and reorg of the imports. (of course most of this could just be my personal settings, b

[2015-09-25 03:05] pquackenbush commented on #13
That last commit may cause some major headaches when merging as just about every file was affected... Please merge before any further development to prevent as many merge conflicts as possible.

Thanks

@LABurn @jakern @emilynovak @laanak08 @BrianTighe

[2015-09-26 16:04] nathanjent commented on #8
I started implementing the logging with slf4j and log4j as the framework. I added the dependencies to ivy.xml. I also added a target to common.xml to generate the log4j.xml in each module. However, when I tried to run the ant compile target for the whole project it only created the log4j.xml in the contractor_client directory and didn't iterate to the others. Is the build working for you, @Shukaro

[2015-09-26 16:45] samohtj commented on #13
Didn't want to create a new issue, so I'm commenting here.

I've switched checkstyle so that it uses 4 space tabs as opposed to 8, and I have a good reason. With 8 space tabs, some of the lines of code already written stick out past the 100 character limits. Even if the tabs you use are actually 4 spaces, checkstyle still thinks they're 8. So, to prevent us having to split our lines of code and wr

[2015-09-26 16:46] jakern commented on #13
No problems here

On Sat, Sep 26, 2015, 12:45 Jonathan Thomas notifications@github.com
wrote:

[2015-09-27 21:53] rsanchez-wsu commented on #8
@nathanjent I will try and have a look at this tonight or tomorrow.

[2015-09-27 21:53] rsanchez-wsu commented on #13
@samohtj I am in agreement.

[2015-09-28 18:48] pquackenbush opened #14 "Payment/Scheduling files not in a Package"
The files added to the repo Payment_Scheduling_Window.java, Tabbed_Frame.java, etc are not in any package.  Please create a package that will contain your source.

[2015-09-28 18:52] jgotty777 commented on #14
I don't know how to do that on git.
On Sep 28, 2015 2:48 PM, "pquackenbush" notifications@github.com wrote:

[2015-09-28 19:05] emilynovak commented on #14
Ok, we'll look into it and fix it. Thanks!

[2015-09-28 19:42] pquackenbush opened #15 "Create Login Window"
We need to get the base for this up so the other teams can have this code available.

At a minimum this needs:
JLabel > JTextfield
JLabel > JPasswordfield
JButton (Login)
JButton [or hyperlink type] (to launch CreateNewAccount window)

@CJMiller94

[2015-09-29 03:26] pquackenbush opened #16 "ArrayBlockingQueue Possible Solution to Catching Objects"
So one of the awesome points to this data structure is that it handles the blocking of your current thread for you, making it very nice for new-to-concurrency programmers.  I have a short example in that I'll push shortly.  If anyone has other ideas they would prefer to implement let me know.  I don't normally use the queue in this manner, but I think it makes for a good demo.

[2015-09-29 21:42] jgotty777 commented on #14
Think i fixed it. I don't know if this is what you wanted. I just added the entire folder of the project from netbeans. Let me know if this works.
Thanks,
Jason Gottweis

[2015-09-29 22:10] #14 closed, assigned to emilynovak

[2015-09-30 13:50] LABurn commented on #5
Couldn't subscribe multiple what to the `@NetworkHandler`?

[2015-09-30 16:07] AKA-Syenite commented on #5
Multiple `@NetworkHandler`'s that listen for the same message to the network bus.

[2015-09-30 17:24] aaronsiniff opened #18 "Create CreateNewAccount"
Working on getting this done by this weekend.

[2015-10-02 00:52] nathanjent opened #19 "XML Networking Proposal"
I propose we implement the network messages using Javabeans and XMLEncoder to serialize.

[code]

JavaBean objects can be defined commonly and used by all the other components to transmit data.
For example:
- A contractor enters date and time into the contractor GUI
- This information is put into a Schedule object
- A network message is created including the serialized Schedule object.
- The messa

[2015-10-02 01:52] cbensman commented on #19
I like this idea. The only question I would have is how would we know what object to recreate it as when deserializing it. From my understanding of this, when you deserialize an object, you cast it to the type object it should be.

[2015-10-02 03:17] nathanjent commented on #19
Even though it is an Object it has the class name of the original object decoded from the xml.

[code]

Here's a more in depth example of JavaBeans xml serialization from the interwebs:
https://dzone.com/articles/javabeans-xml-no-libraries

[2015-10-02 15:18] laanak08 opened #20 "Submit your feature requirements to Core Team"
All groups, please have your required features submitted to core team's Database entity models page very soon.
@pquackenbush
@LABurn
@jakern
@emilynovak
@BrianTighe

[2015-10-02 15:21] cbensman commented on #19
Got it, I did not fully understand how this worked. After reading the article, I feel that I have enough of a grasp to go on. I have another question, as far as the responsibilities of the core/database and the networking teams. Will my group (core/database) be responsible for opening our own networking socket and listening for messages from the networking team that is passing the serialized xml,

[2015-10-02 22:10] nathanjent commented on #19
The networking team will create the serialization/deserialization methods. Once a deserialized object is received it should be routed to scheduling, payment, or database depending on the need. Scheduling and payment can further process the object or it could go directly to the database. A network message could be a pull request from the database or a push to the database.
As for the JavaBean class

[2015-10-03 16:48] jakern opened #21 "Operating system level server controls"
I had originally intended to have a server control GUI with OS level controls (via ssh) without taking into the account that we had not discussed the base platform. From there my question is should the admins has access to OS level controls from the GUI and if yes, would the networking group have any part in that or can it all be done via ssh?

[2015-10-03 17:10] rsanchez-wsu commented on #21
@jakern , the controls should be limited to administering the ConCon platform.  That is, managing user accounts, managing data, etc.  I don't think that there should be a need for using ssh.

[2015-10-05 15:01] pquackenbush commented on #20
Are you asking for the data types (and what fields they contain) that we will be asking to store in the DB? Or what type of queries that we'll need? Or, most likely, all the above and more?  I should have more time tonight or tomorrow before class starts to get what you're looking for to you.

Also, if you're not getting responses fast enough, you can use the data types in common.data as a startin

[2015-10-05 15:05] pquackenbush commented on #15
Preliminary UI pushed to HomeownerUIBase.  Please take a look and feel free to add any comments, moans, gripes, or concerns.

[2015-10-05 15:13] jakern commented on #20
You should also be able to get what most of the groups are going to need
the database for from their wiki pages

On Mon, Oct 5, 2015, 11:01 pquackenbush notifications@github.com wrote:

[2015-10-05 19:51] laanak08 commented on #20
DB is just the tip of what we're asking for. We got most of the DB stuff by just grazing the other team pages. Mostly looking for "logic features". UI pages should have minimal business logic, so we're asking UI teams to give us requirements for the business aspects of their page. In other words, "what does your page do, unrelated to rendering views that is core to the overall product?"

[2015-10-06 19:42] pquackenbush commented on #20
It seems that we're on the same page as far as what the UIs are supposed to be doing.  From what I understand, all we're doing is collect data from the user packaging it and shipping it off, or asking for a collection of data and un-packaging it for display. By un-packaging I mean sifting the obj and presenting the data in human readable format.

From login:
- Login
  - send UserAccount obj with u

[2015-10-06 22:12] DevinJamesK commented on #19
Looks good to me, seems to be the simplest way to do it.  That article was a useful read.

[2015-10-07 16:58] pquackenbush opened #22 "Ant build, commonl.xml issues"
So I've finally managed to get a build successful build together.  However, to do this I had to comment out an import in one of the common ADTs that was referring to CustomerClient.java.  I put the import back in, build fails.

On top of this, I've noticed that while all the modules have a src/build, src/tools... created.  There is no common/src/build.  This leads me to believe that the files in c

[2015-10-07 17:42] AKA-Syenite commented on #22
customerclient, contractorclient and server are the three modules that get compiled, common contains files that get compiled into all three of them. People shouldn't be importing ANYTHING from a module into a common class or from a module into a seperate module because that will break.

[2015-10-07 17:42] #22 closed, assigned to nobody

[2015-10-07 18:36] pquackenbush commented on #22
While I understand that's how common is typically used, this breaks the common launch model that we agreed upon at the start of the semester.  Something is going to need references to all three modules in order to launch one of the three UIs.

[2015-10-07 18:44] AKA-Syenite commented on #22
Just use a bit of reflection to see which module you're in if you want a common UI

[2015-10-07 20:00] pquackenbush commented on #22
Not going to lie. Before this, I had never even heard of reflection and introspection.  Can you take a look and see if you have any pointers on what I did in that last commit.  I looks like it works, but I doubt it's very safe, and probably a potential source of monster issues later.

Thanks for the tip :jack_o_lantern:

[2015-10-07 20:12] AKA-Syenite commented on #22
Yeah, that should work well, although you should probably handle a null class more specifically.

[2015-10-07 20:25] pquackenbush commented on #22
Would a null check be necessary?  Class.forName(String) throws a ClassNotFoundException, halting execution in the method, and Class.getMethod(String, Class<?>...) throws a NoSuchMethodException, also halting execution in the method.  I'm not quite sure I see where the check would be since if either call fails, an exception is thrown.  With the way I have it now, I just don't see where null would e

[2015-10-07 20:26] AKA-Syenite commented on #22
It's not strictly necessary, just a style thing.

[2015-10-07 20:27] pquackenbush commented on #22
ok, thanks.

[2015-10-08 00:34] nathanjent commented on #22
I agree, any class that can be useful to another module should be put in common. It shouldn't matter which team created it. The main class of each module can initialize whatever classes it needs and build up from there.

[2015-10-08 02:13] pquackenbush commented on #22
Agreed, the issue I was having earlier was trying to reach the modules from within common.  Since common wasn't getting compiled, any reference outside of the common super package was doomed to break the build.  Shukaro suggested solving this with reflection instead of modding the build tasks.

[2015-10-08 02:35] #21 closed, assigned to nobody

[2015-10-08 02:42] AKA-Syenite commented on #22
Common is compiled though, into each module. It doesn't get its own jar file.

[2015-10-08 03:01] pquackenbush commented on #22
Right, common actually gets compiled 3 times.  I think we're on the same page here.  What I meant by not getting compiled is that it's not compiling separately like each module is.  It gets compiled in each module, so it only has visibility on that current module.  Any reference to a module from within common will fail in two out of the three modules.  If you look in common/src after a compile/bui

[2015-10-09 20:51] nathanjent commented on #19
I think we are in agreement. Java Beans is go.

[2015-10-09 20:51] #19 closed, assigned to nathanjent

[2015-10-10 02:29] #18 closed, assigned to aaronsiniff

[2015-10-10 02:30] pquackenbush commented on #13
I think we've moved passed this.

[2015-10-10 02:30] #13 closed, assigned to nobody

[2015-10-10 15:32] samohtj opened #23 "Please respect Checkstyle"
Please make sure that your branch is free from Checkstyle violations before you push it. Some of you aren't using Eclipse, and that's okay, but please realize that every Checkstyle violation becomes a compiler warning when you open the project in Eclipse. That means every single little formatting difference, including bracket positioning, becomes a big fat yellow thorn in my side. I'm tired of see

[2015-10-11 00:13] rsanchez-wsu commented on #23
@samohtj I have not had an opportunity to add CheckStyle to the command-line build like I did for FindBugs.  I may get to it tomorrow, but you are welcome to look at how I did it for FindBugs and implement something similar for CheckStyle that fails the build if any violations are found.  Incidentally, this (the merging of work of numerous programmers across branches) is one reason why I really li

[2015-10-13 01:52] rsanchez-wsu opened #24 "Merge from master and clean up your team's code"
I have added the -Xlint option to the javac invocation for Ant and I have tightened up the CheckStyle checks.  Please merge master into your team's branch, clean up all the warnings (paying attention to missing serialVersionUID, missing OverrideAnnotations, JavaDoc problems, etc.).  For JavaDoc comments, please also remove any TODO markers or bogus comments and replace them with actual comments ab

[2015-10-13 01:52] rsanchez-wsu opened #25 "Merge from master and clean up your team's code"
I have added the -Xlint option to the javac invocation for Ant and I have tightened up the CheckStyle checks.  Please merge master into your team's branch, clean up all the warnings (paying attention to missing serialVersionUID, missing OverrideAnnotations, JavaDoc problems, etc.).  For JavaDoc comments, please also remove any TODO markers or bogus comments and replace them with actual comments ab

[2015-10-13 01:52] rsanchez-wsu opened #26 "Merge from master and clean up your team's code"
I have added the -Xlint option to the javac invocation for Ant and I have tightened up the CheckStyle checks.  Please merge master into your team's branch, clean up all the warnings (paying attention to missing serialVersionUID, missing OverrideAnnotations, JavaDoc problems, etc.).  For JavaDoc comments, please also remove any TODO markers or bogus comments and replace them with actual comments ab

[2015-10-13 01:53] rsanchez-wsu opened #27 "Merge from master and clean up your team's code"
I have added the -Xlint option to the javac invocation for Ant and I have tightened up the CheckStyle checks.  Please merge master into your team's branch, clean up all the warnings (paying attention to missing serialVersionUID, missing OverrideAnnotations, JavaDoc problems, etc.).  For JavaDoc comments, please also remove any TODO markers or bogus comments and replace them with actual comments ab

[2015-10-13 01:53] rsanchez-wsu opened #28 "Merge from master and clean up your team's code"
I have added the -Xlint option to the javac invocation for Ant and I have tightened up the CheckStyle checks.  Please merge master into your team's branch, clean up all the warnings (paying attention to missing serialVersionUID, missing OverrideAnnotations, JavaDoc problems, etc.).  For JavaDoc comments, please also remove any TODO markers or bogus comments and replace them with actual comments ab

[2015-10-13 01:53] rsanchez-wsu opened #29 "Merge from master and clean up your team's code"
I have added the -Xlint option to the javac invocation for Ant and I have tightened up the CheckStyle checks.  Please merge master into your team's branch, clean up all the warnings (paying attention to missing serialVersionUID, missing OverrideAnnotations, JavaDoc problems, etc.).  For JavaDoc comments, please also remove any TODO markers or bogus comments and replace them with actual comments ab

[2015-10-13 21:29] laanak08 opened #30 "un-version .ipr and .iws files from git. For master and all other branches."
They are IntelliJ IDE specific files, and not relevant to the project. They are environment specific files.
@pquackenbush
@LABurn
@jakern
@emilynovak
@BrianTighe

[2015-10-14 00:08] AKA-Syenite commented on #30
The eclipse files are similarly tracked.

[2015-10-14 01:39] rsanchez-wsu commented on #30
@laanak08 @Shukaro

I am OK with IDE project files being version control.  For one thing, it makes it easier to share CheckStyle settings, FindBugs settings, etc.  However, I have made sure that all the Eclipse files in Git have only project-relative references in them.  If the IntelliJ files only have project-relative references then in my mind they are no different than the Eclipse project files

[2015-10-14 01:42] AKA-Syenite commented on #30
That is indeed the case. (No user-specific data)

[2015-10-14 02:14] laanak08 commented on #30
https://intellij-support.jetbrains.com/hc/en-us/articles/206827587-How-to-manage-projects-under-Version-Control-Systems

This is my proposition for how we should be handling the versioning of IntelliJ files. Additionally, note that .ipr/.iws are of the legacy system, and that .iws files are specifically mentioned to contain user-specific settings.

[2015-10-14 03:46] #30 closed, assigned to AKA-Syenite

[2015-10-14 20:24] pquackenbush commented on #29
Making progress.  I think we just need to go through and clean up common still. I've been using this script to replace four spaces with tabs before committing anything.

[code]

The permission issue may just be a product of cygwin...

[2015-10-14 20:26] pquackenbush commented on #23
Should we add something like this to checkstyle?  The tab vs spaces makes merging a complete nightmare.

[code]

[2015-10-15 03:42] pquackenbush commented on #9
I think everyone is on the same page here. No need to keep this open methinks...

[2015-10-15 03:42] #9 closed, assigned to nobody

[2015-10-15 04:33] rsanchez-wsu commented on #23
I am OK with that.  I honestly thought that I already had that check in there, but I must have overlooked it.  Feel free to add it.

[2015-10-15 14:30] jgotty777 opened #31 "Multiple TabbedFrame Files"
I have noticed that there are multiple TabbedFrame.java files that exist in master. The one that we are working on is in modules and the other one is not updated to the proper checkstyle and will fail the build in the future. Do we really need more than one of these?

[2015-10-15 16:24] jgotty777 commented on #26
@rsanchez-wsu I think this is done. Am I allowed to close this?

[2015-10-15 16:25] jgotty777 commented on #16
@pquackenbush  Is this in the API? I don't know exactly how this works and i would like to get a good idea of how to implement this before jumping right in.

[2015-10-15 16:44] pquackenbush commented on #16
@jgotty777  There are two functions that would really come in handy:

[code]

Basically what these do is block the current thread until data becomes available or the timeout is reached.  If you want your UI to remain responsive while waiting for data, place the poll on a separate thread, add the data to whatever model you are using to display, and revalidate().  Be careful with this because you sh

[2015-10-15 19:49] nathanjent commented on #31
Where is the TabbedFrame going to be used? I moved TabbedFrame to common because I was of the impression that it was going to be used by both of the client modules. With all the branch merging 2 copies were created. If you agree with moving it to common, then please do. Otherwise delete the one in common.

[2015-10-15 20:40] #6 closed, assigned to nobody

[2015-10-15 20:41] #5 closed, assigned to nobody

[2015-10-15 20:42] #3 closed, assigned to nobody

[2015-10-15 20:42] #1 closed, assigned to pquackenbush

[2015-10-15 20:44] #2 closed, assigned to nobody

[2015-10-15 20:44] #4 closed, assigned to jakern

[2015-10-15 20:45] #8 closed, assigned to nathanjent

[2015-10-15 20:46] #7 closed, assigned to nathanjent

[2015-10-15 21:08] SeanPWebb opened #32 "2 contractor GUI's"
Would it greatly offend anyone if i deleted the impostor contractor GUI branch?  The one with lower case GUI, isn't ours and we're not sure what its purpose is.

[2015-10-15 21:13] samohtj commented on #32
That branch is almost 100 commits behind, so I think it's safe to say it's unused. If it's not yours, you  should be safe to delete it.

[2015-10-15 21:14] pquackenbush commented on #10
I think we are all on the same page here

[2015-10-15 21:14] #10 closed, assigned to nobody

[2015-10-15 21:17] SeanPWebb commented on #32
alright im gonna axe it

[2015-10-15 21:17] #32 closed, assigned to nobody

[2015-10-15 21:17] BKEcho commented on #15
Log in window GUI constructed

[2015-10-15 21:17] #15 closed

[2015-10-15 21:18] joedobrovolc commented on #12
Good source on password encryption in JAVA
http://www.jasypt.org/howtoencryptuserpasswords.html

[2015-10-15 21:20] BKEcho commented on #23
Has been added and pushed to master

[2015-10-15 21:20] #23 closed, assigned to samohtj

[2015-10-15 21:23] BKEcho commented on #29
No checkstyle violations currently

[2015-10-15 21:23] #29 closed, assigned to pquackenbush

[2015-10-15 21:25] #27 closed, assigned to jsthomas45320

[2015-10-15 21:28] BKEcho opened #33 "Format for images in XML?"
@laanak08 For the customer GUI we plan on having images (such as profile pictures) - how should we expect to send/receive these from the database?

[2015-10-15 21:32] emilynovak opened #34 "Server GUI CheckStyle Issues"
Hey Server GUI group!

There are many CheckStyle issues in the server code. Check it out ;D

[2015-10-15 21:35] jakern opened #35 "Multiple versions of TabbedFrame.java in Payment&Scheduling branch"
There is a TabbedFrame.java file in the server module and also in common.

[2015-10-15 21:36] #26 closed, assigned to emilynovak

[2015-10-15 21:37] nathanjent commented on #35
Duplicate issue #31

[2015-10-15 21:37] #35 closed, assigned to emilynovak

[2015-10-15 21:38] AKA-Syenite opened #36 "TELL US WHAT MESSAGES YOU WANT TO SEND"
We need to know what kind of messages you want to send from client->server and what kind of responses you need to send back server->client. (All communications are initiated by the client, for obvious reasons.)

[2015-10-15 21:41] jakern commented on #36
Besides chat messages and database queries?

[2015-10-15 21:45] AKA-Syenite commented on #36
Basically we just need to know the events on which you'll send a message (IE ClientQueryMessage, ClientQueryResponse)

[2015-10-15 21:47] AKA-Syenite commented on #36
We don't really need to know any arguments though.

[2015-10-15 23:41] nathanjent commented on #36
I added a section to the Networking Wiki page that we need for everyone to expand on.
https://github.com/rsanchez-wsu/fa15-ceg3120/wiki/Networking

[2015-10-16 00:42] nathanjent commented on #33
Try this.

[code]

You'll need to add a couple dependencies to ivy.xml first.

[code]

This encoded string can then be added to a network message and pushed to the database.
This should work with other files too.

[2015-10-16 12:34] rsanchez-wsu commented on #12
@joedobrovolc That is an excellent writeup

[2015-10-16 12:58] emilynovak commented on #31
The one in modules is not the updated one that we have been working on, but if another group needs our tabbed frame, they can use it. They will just have to rework the code because it has all of our specific GUI elements. I can delete the one in modules, but I don't want to mess up anyone's code on master.

[2015-10-16 18:21] nathanjent commented on #31
Is your GUI going to be used inside the client? If it is then it needs to be accessible by those modules. That is the reason I suggested to move it into a common package where both homeowner and contractor clients can use it, rather than forcing them to import from the server module.

[2015-10-16 20:08] emilynovak commented on #31
Ok, that does make it easier for them. Good idea. I just need to make sure both tabbed frames are up to date.

[2015-10-17 16:55] cbensman commented on #36
If we are planning on implementing notifications, we will need a way for clients to subscribe to the database/core. I don't know if this should be opened as another issue but I'm assuming this will be done by having them opening a connection with the networking stack and then having it block and tracking the client. Do you guys have any plans for this? Also does anybody in the GUI groups have any

[2015-10-17 18:04] nathanjent commented on #31
Don't make a copy just move it to one place or the other and change the package and import signatures.

[2015-10-19 01:34] samohtj opened #37 "Making our jars executable, a.k.a. choosing a main class"
As of now, the jars that are made when we build our app can't actually be run. The reason for this is that the jars' manifests have no main class specified, so the JRE doesn't know where the main method is. Adding this to our build process would be relatively simple, but there's still the question of which class the main method should be in. So, we need to decide where the main entry point for the

[2015-10-19 16:40] pquackenbush commented on #37
Are you talking about making a directly executable jar? Because if you navigate to the the build directory of one of the modules and execute

[code]

You'll find that the main in LoginPopUp does actually execute.  The problem I'm seeing here however is that the resources aren't being copied into the jar causing a NullPointerException right off the bat.

[2015-10-19 16:47] pquackenbush commented on #37
As for the second concern you raised:
"How do we know which UI to launch and how do we do it without importing from the module?"

This is where the polymorphism comes into play.  When the user logs in, a UserAccount object is created and shipped off, the database does its magic and determines what kind of account it is and send back all the profile information for that user, when the object comes

[2015-10-19 17:19] pquackenbush commented on #37
So took some time to make sure I wasn't feeding you false information

after commenting out any reference to the image resources and logger classes, I was able to launch the customer client from the contractor_client.jar.

[code]

This assumes that they are in the same directory, but I'm almost positive that if you supplied the relative path after the semicolon, you would get the same result.

[2015-10-19 20:20] samohtj commented on #37
Yes, I'm talking about creating a directly runnable jar. You can obviously run the program just fine from the command line, however it requires you to specify the class to run from. It shouldn't be up to the end user to know or care about that, so it should be configured beforehand.

[2015-10-19 20:41] pquackenbush commented on #37
We could solve this with a simple batch and bash script that contains the launch command. I know it's not as elegant, but it's simple, most people would understand how to use it, and it doesn't make the common.xml more cryptic than it already is.

[2015-10-24 12:58] rsanchez-wsu opened #38 "Please remove Derby JAR from repository"
We are using Ivy for dependency management, which includes downloading any necessary JARs from a repository and placing into the workspace during build/runtime.  Please remove the Derby JAR from the core-database branch.

[2015-10-24 16:33] CMoorman commented on #38
Removed.  My bad.

[2015-10-24 16:33] #38 closed, assigned to CMoorman

[2015-10-31 14:44] AKA-Syenite opened #39 "Increase maximum line length in checkstyle."
100 characters is quite small, and it makes code uglier than it has to be.

[2015-10-31 16:40] nathanjent commented on #39
I concur, 130-150 seems more appropriate for our widescreen monitors.

[2015-10-31 16:41] AKA-Syenite commented on #36
The need for this is resolved as of b91f4c45d67751f771bf7bf398530deab3798cd3

[2015-10-31 16:41] #36 closed, assigned to AKA-Syenite

[2015-10-31 16:42] AKA-Syenite commented on #24
Resolved.

[2015-10-31 16:42] #24 closed, assigned to LABurn

[2015-10-31 17:35] rsanchez-wsu commented on #39
@Shukaro feel free to discuss this with the rest of the developers and come a consensus.  I am OK with a longer line length, so long as the majority of folks are in agreement.

[2015-10-31 18:14] emilynovak commented on #39
I am in agreement with @nathanjent. I think that length is more conducive to our commenting.

[2015-11-01 01:54] pquackenbush commented on #39
Honestly, I don't see the point in increasing it.

I don't really care either way, but if you ever need to print your code for a review 100-150 characters per line won't look all that pretty.  But if you strive for 80 char lines then you can almost guarantee that all your code will print nicely, and will be easy to read since you formatted it to fit.

_go go gadget dead tree copy_

[2015-11-10 22:26] nathanjent opened #40 "Networking Team: Annotation warning breaking networking-chat test branch"
http://cobija.connexer.com:8080/job/concon/branch/networking-chat/4/console
Check out the console output to see the warning.

I have been creating a test client with a basic chat panel to connect to a test server. The code is working when run from Eclipse, but the warning breaks the build scripts. Can someone take a look at fixing this?

[2015-11-12 22:24] BKEcho opened #42 "Format all tabs into one branch ~ homeowner GUI"
We need to have all of our tabs merged onto the main branch.

[2015-11-12 22:24] jsthomas45320 opened #43 "Contractor GUI - Group Task - Populate Tabs"
The group needs to populate all tabs and have them functioning/interacting with other tabs.

[2015-11-12 22:25] jakern opened #44 "Make editing user information more intuitive by adding pop out instead of tab"
Current functionality requires admins to search through a user list to find a user and then switch to a separate tab to edit their information. For improved usability we need to add a mouse event listener to the user list table that will launch a new window with editable user info.

[2015-11-12 22:25] LABurn opened #45 "Chat Between Two Clients"
@opcecco @DevinJamesK

[2015-11-12 22:27] jsthomas45320 opened #46 "Contractor GUI - Notifiations Tab"
Reformat Notifications tab and add in previously-implemented features (red tab, etc.).

[2015-11-12 22:28] jsthomas45320 opened #47 "Contractor GUI - Main Tab"
Complete Main Tab, including ability to add in description of jobs and upload images.

[2015-11-12 22:29] jsthomas45320 opened #48 "Contractor GUI - Current Bids Tab"
Re-implement Current Bids tab, including data population from Search tab.

[2015-11-12 22:30] LABurn opened #49 "Chat Between Two Clients"
@opcecco @DevinJamesK

[2015-11-12 22:30] jsthomas45320 opened #50 "Contractor GUI - Open Jobs Tab"
Complete Open Jobs tab and implement various features.

[2015-11-12 22:31] LABurn opened #51 "Finish "receive" portion of Subscribe/receive server architecture."
@nathanjent @parishalexander

[2015-11-12 22:31] jsthomas45320 opened #52 "Contractor GUI - Calendar Tab"
Complete and upload Calendar tab. If possible integrate with Payment-Scheduling calendar implementation.

[2015-11-12 22:32] LABurn opened #53 "Fix Annotations issue"
I'll handle this, but in case anyone else wants to try the issue is here.

[2015-11-12 22:32] BKEcho opened #54 "Link 'show contractors' to messaging tab"
Enable the user to select a contractor to open a chat message with.

[2015-11-12 22:33] jakern opened #55 "Server-Gui - Switch to matching colorscheme"
Other Gui's have and orange theme that we should match

[2015-11-12 22:33] LABurn opened #56 "Add Encryption to the Network Manager"
@nathanjent @parishalexander @DevinJamesK @opcecco

[2015-11-12 22:34] katrinaScott commented on #42
Note for my tab: add functionality so that users can open a job on a contractor's name and it will autofill  their info

[2015-11-12 22:35] #53 closed, assigned to nobody

[2015-11-12 22:35] DevinJamesK commented on #45
We got dis.

[2015-11-12 22:36] BKEcho opened #57 "Homeowner GUI ~ Add in check features for input on the open job tab"
incorporate the formatting requirements from the account creation page into the create a job tab for user input (EG: location).

[2015-11-12 22:37] #49 closed, assigned to nobody

[2015-11-12 22:38] pquackenbush opened #58 "Finish Encryption for password Storage"

[2015-11-12 22:39] katrinaScott commented on #54
Also link to open new job tab/autofill selected contractor information

[2015-11-12 22:40] samohtj opened #59 "Team 5 group milestone"
Our main group milestone is to have our code able to accept a request from the networking stack, process it, and return it.

There are a few things that need to happen for this to work:
- The database needs to be set up, and have a script created to create it and populate it with dummy data.
- The code needs to be able to send and receive request across the network.
- Once the request has been rec

[2015-11-12 22:45] jakern opened #60 "Add Admin account type to login class"
Login tab does not ye support admin account types or launch the Server-gui on login

[2015-11-12 22:47] samohtj opened #61 "Team 5: Create and populate database"
Create a small program to create an empty database with all the tables and fields that we've defined, and fill it with dummy data. People should be able to run it once, and have a functioning database to use for testing.

[2015-11-12 22:48] samohtj opened #62 "Team 5: Requests across the network"
Make the code able to send and receive requests across the network, and properly pass those requests along to the actual database.

[2015-11-12 22:49] samohtj opened #63 "Team 5: Processing requests"
Take a request from a client, determine it's purpose, and take the appropriate action with the database. Should then return a result, if any, to be sent back to the client.

[2015-11-13 02:27] emilynovak opened #64 "Payment/Scheduling: Group Milestone"
Have majority of networking code written and have begun sending and grabbing data to/from the database via networking. GUI components should also all be finalized.

[2015-11-13 02:51] emilynovak opened #65 "Payment/Scheduling: AddMoneyFrame Changes"
1. Change color to orange
2. Make sure text field can't accept letters (*look at Jon's email for help on that)

[2015-11-13 02:56] emilynovak opened #66 "Payment/Scheduling: AddMoney Submit Button Action"
Make Submit button send data on AddMoney

[2015-11-13 02:58] emilynovak opened #67 "Payment/Scheduling: Issue Making and Discussion of Scheduling Data Transfer"
1. Make issues on Git
2. Talk to data or contractor people about scheduling dates when contractors are available
3. Try to populate the dropdown boxes for scheduling to reflect contractor available times

[2015-11-13 03:02] emilynovak opened #68 "Payment/Scheduling: Removing Unnecessary Buttons from GUI"
Try to remove the two buttons on the payment tab and the submit button on the scheduling tab so that we  only need the last two buttons on the overview tab to confirm the entire thing.

[2015-11-13 03:04] emilynovak opened #69 "Payment/Scheduling: Populate Information for Payment Tab"
Populate how much customer has in wallet and how much the job costs on Payment Tab.

[2015-11-13 03:05] emilynovak opened #70 "Payment/Scheduling: Overview Tab Text Fields"
1. Make text fields on overview tab non-editable.
2. Assist anyone else in the group who needs help with an element that they can't fix.

[2015-11-13 03:07] emilynovak opened #71 "Payment/Scheduling: Resizing GUI Window"
Try to resize gui window so that scheduling tab all fits in the window.

[2015-11-13 13:48] mythrilman commented on #70
Sounds good, will try to find solutions to other people's things since this
task is only a couple of lines of code.

On Thu, Nov 12, 2015 at 10:05 PM, emilynovak notifications@github.com
wrote:

[2015-11-14 19:24] emilynovak commented on #67
Completed Step 1. Working on Step 2 this weekend

[2015-11-14 21:23] mythrilman commented on #70
Issue has been resolved

[2015-11-14 21:23] #70 closed, assigned to mythrilman

[2015-11-15 16:07] katrinaScott commented on #42
Merged ShowContractorsTabBranch into HomeOwnerUIBase, so that's at least 1 down

[2015-11-15 20:10] emilynovak commented on #67
Step 2 accomplished: Talked to Josh about sending down an ID number in our constructor when they call our window. This is what we will be doing. Now onto Step 3.

[2015-11-15 21:24] nathanjent commented on #63
The JavaBean data objects sent over the network should have NetworkHandler annotated methods that contain the database request. You could right separate methods for SELECT, INSERT, UPDATE, and DELETE statements. Each method would have a unique channel name that is specified when the object is sent over the network. This tells the server which method to call when the object arrives. There would als

[2015-11-15 21:27] nathanjent commented on #61
You don't need to write a program, just have them run an SQL script that creates all the tables and populates with dummy data.

[2015-11-15 21:30] nathanjent commented on #44
I prefer inline editing, but it can be complicated to implement if you've never done it before.

[2015-11-15 22:23] edennewitz commented on #61
That is what I was planning on doing

[2015-11-17 22:51] mythrilman opened #72 "Prepared Statements for Database"
Create prepared statements for the Payment & Scheduling group.

-Contractor job price
-Customer's wallet amount
-Date and time when the contractor is available
-Contractor's name

[2015-11-17 22:51] cbensman opened #73 "Create JavaBean for scheduling and payment"
Create a serializable JavaBean for the payment and scheduling data.

[2015-11-17 22:54] LABurn opened #74 "Fix box sizing on contractors tab and add fuzzy searching"
@pquackenbush

[2015-11-17 22:54] AlexanderWoodie commented on #71
Done

[2015-11-17 22:54] #71 closed, assigned to AlexanderWoodie

[2015-11-17 22:58] jakern opened #75 "ContractorClient.java unnecessarily extends action listener"
ContractorClient.java class extends actionlistener class but does not override the action performed function.

[2015-11-17 22:59] jakern opened #76 "ContractorClient class unnecessarily extends actionlistener class"
ContractorClient.java class extends actionlistener class but does not override the action performed function.

[2015-11-17 23:01] pquackenbush opened #77 "Add Functionality to Buttons"

[2015-11-17 23:03] pquackenbush opened #78 "Open Comms with Database"

[2015-11-17 23:06] jakern opened #79 "Contract Gui module has several warnings in the code"
Such as missing override annotations and unnecessary comments

[2015-11-17 23:10] SeanPWebb opened #80 "transactions tab rework"
Consider reworking the transactions tab user list, maybe in the form of a search function.

[2015-11-17 23:11] SeanPWebb opened #81 "Kill the remote control tab"
Nuke it, nuke it good

[2015-11-17 23:12] samohtj opened #82 "Payment/Scheduling tab uses dummy data"
Fix it! Make it load from an actual object.

[2015-11-18 11:23] jsthomas45320 commented on #79
The Contractor GUI branch is not being used at this time. We are currently working off of the Contractor-GUI overhaul branch.

[2015-11-19 05:21] nathanjent commented on #40
Committed fix: https://github.com/rsanchez-wsu/fa15-ceg3120/commit/19e8e1abd8ad8ea4027ba90e013346e691b15eb0

[I found some information on creating a custom annotation processor.](http://www.javabeat.net/java-6-0-features-part-2-pluggable-annotation-processing-api/)

I added the processor path as a compiler argument in the ant build and it got rid of the warning.

[2015-11-19 05:21] #40 closed, assigned to LABurn

[2015-11-19 21:14] nathanjent opened #83 "Do not commit code with diff annotations."
I saw this problem when merging master into the networking branch. Someone had merged code on their branch and committed without resolving merge conflicts.

Please fix your merge conflicts before committing. If the conflict deals with a file you aren't familiar with then please ask another team for assistance.

[2015-11-20 23:51] jgotty777 commented on #65
finished as of 11/20/15

[2015-11-20 23:52] #65 closed, assigned to jgotty777

[2015-11-21 03:08] emilynovak commented on #73
Found this was already created in Common/source by networking team

[2015-11-21 03:08] #73 closed, assigned to emilynovak

[2015-11-21 13:26] nathanjent commented on #73
You probably need to edit the bean for your specific usage. And add any database persistence NetworkHandler methods.

[2015-11-21 16:51] nathanjent opened #84 "Add networking to Contractor client"
Using the TestClient class under the customer client module as a guide, add networking functionality to the contractor client.

[2015-11-21 16:52] nathanjent opened #85 "Add networking to Customer client"
Using the TestClient class under the customer client module as a guide, add networking functionality to the customer client.

[2015-11-21 16:52] nathanjent opened #86 "Add networking to Server-GUI client"
Using the TestClient class under the customer client module as a guide, add networking functionality to the Server-GUI client.

[2015-11-23 03:05] #68 closed, assigned to csbinhnguyen-108

[2015-11-23 06:33] #55 closed

[2015-11-23 18:30] #75 closed, assigned to jsthomas45320

[2015-11-23 18:31] #76 closed, assigned to jsthomas45320

[2015-11-23 20:58] pquackenbush commented on #77
CreateNewJob "Upload Image" button up

42d83762f284b2e7d2efeec075bb767c16ffd1b3

[2015-11-24 15:17] pquackenbush opened #87 "Do Not Commit Build Files"
Please do not commit files created while building the project.  They are unnecessary and clutter up the repo.  Committing the .jars created in the modules could potentially lead to dirty worktrees, making merging impossible until the merger cleans their current build on their local machine.  If you're unsure if the file was created during a build, run a clean.  This will remove any file created by

[2015-11-24 17:45] #79 closed, assigned to jakern

[2015-11-24 20:27] nathanjent commented on #79
You should probably delete the unused branch.

[2015-11-24 22:04] DevinJamesK commented on #85
On it.

[2015-12-03 02:35] katrinaScott commented on #74
Implemented in commit 1a1908ba664e15bbbb3ddb824f85d4ed66b9c39b (on the ShowContractorsTabBranch)- will merge onto HomeOwnerUIBranch tomorrow

[2015-12-03 02:35] #74 closed, assigned to katrinaScott

[2015-12-03 02:38] katrinaScott commented on #54
Currently opens a ChatPanel and autofills "@selectedContractor" in the text area (this will change depending on how we're specifying who to send the message to). I'm not going to close this issue until we resolve how messages will be sent, but just updating on progress as of commit 1a1908ba664e15bbbb3ddb824f85d4ed66b9c39b (on the ShowContractorsTabBranch).

[2015-12-05 23:41] #46 closed, assigned to nobody

[2015-12-06 02:34] edennewitz commented on #61
[Table Design.txt](https://github.com/rsanchez-wsu/fa15-ceg3120/files/53041/Table.Design.txt)
[inserts.txt](https://github.com/rsanchez-wsu/fa15-ceg3120/files/53042/inserts.txt)
copy and paste the contents,do table design first to build tables and it will default to the app schema then run the copy paste the inserts to fill with dummy data (if you don't make the tables in the app schemea the inser

[2015-12-06 02:34] #61 closed, assigned to edennewitz

[2017-03-07 01:43] #83 closed, assigned to nobody

[2017-03-07 01:43] #84 closed, assigned to evan-panda

[2017-03-07 01:43] #85 closed, assigned to nobody

[2017-03-07 01:44] #86 closed, assigned to nobody